a {
    text-decoration: none;
    color: inherit;
}


.container {
    height: 100vh;  /*viewport height*/
    margin:  10px;
    padding: 10px;
    overflow: auto;

    background-color: rgb(165, 95, 245);
}

.divCabecera {
    height: 100px;
    margin: 10px;
    background-color:whitesmoke;
}

.h1Cabecera{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: -95px;
}

.divPrincipal{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*1 fracción o 1 parte del todo en el que está contenido*/
    height: 100%;
    margin: 10px;

    background-color: goldenrod;
}

.zonaNavegacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(218, 185, 255);
}

.zonaNavegacion div {
    width: 1fr;
    min-height: 50px;
    height: auto;
    margin: 5px;
    padding-left: 5px;
    border-radius: 6px;
    border-left: 2px solid rgb(18, 0, 184);
    border-top: 2px solid rgb(18, 0, 184);

    background-color: white;
}

.zonaNavegacion div:hover {
    background-color: rgb(252, 201, 72);

}

.zonaContenido {
    grid-column: 2 / 5;
    margin: 5px;
    padding: 5px;

    border-radius: 6px;
    border-left: 2px solid rgb(18, 0, 184);
    border-top: 2px solid rgb(18, 0, 184);

    background-color: whitesmoke;
    text-align: justify;
}

.logo {
    margin: 2px;
    height:100px;
}
.footer {
    height: 100px;
    margin: 10px;
    background-color:whitesmoke;
}

.paleta {
    margin: 5px;
    height:220px;
    align-content: center;
}