/* 
Colores Principales
#FF9900
#FF6600
#009900

Colores secundarios
#330033
#330000
#FFFFFF
#000000

Tipografias
1. Holocausto Zombie    --> Nombre empresa
2. Roboto               --> Titulos (h1 ... etc)
3. Noto Serif Japanese  --> Textos (p... etc)


*/

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;1,100&display=swap');

@font-face {
	font-family: "durum_kebab";
	src: url("fonts/durum_kebab_FFP.ttf") format("truetype");
}

body{
    margin: 0;
}
/* Ahora vamos a poner a cada elemento, una tipografia especifica... sin tener en cuenta el font-weight */
* {
    font-family: 'Urbanist', sans-serif;
}
h1, h2, h3, h4, h5, h6, a  {
    font-family: 'Urbanist', sans-serif;
}


#tituloPagina {
    color: rgb(206, 53, 53);
    font-family: 'durum_kebab';
    font-size: 300%;
}

.header{
    height: 110px;
    background-color: #FFF6E9;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 30px rgb(206, 53, 53);;
}

.header__zonaTitulo{
    height: 100%;
    width: 30%;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #FFF6E9;

    transition: 0.2s linear;

}

#zonaTitulo__logo img{
    width: 90px;
    height: auto;
    background-color: #FFF6E9;
}
.header__zonaTitulo:hover{
    background-color: #FFF6E9;
    transform: scale(1.013);
    font-size: 1.2em;
}



.header__zonaNavegacion{
    height: 100%;
    width: 40%;
    background-color: #FFF6E9;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header__zonaNavegacion a{
    color: rgb(206, 53, 53);
    text-decoration: none;
}
.zonaNavegacion__div{
    padding: 5px;
    transition: 0.1s ease-out;

}
.zonaNavegacion__div:hover{
    border-bottom: 3px solid rgb(206, 53, 53);
    border-radius: 5px;

}
.zonaNavegacion__div h3{
    margin: 0;

}


/************* ZONA MAIN ************/
.main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 30px;
    height: 100vh;
}

.main__zonaNavegacion {
    display: grid;
    grid-column: 9/12;
    height: 100%;
    width: 100%;
    justify-content: center;
    
}

.main__zonaNavegacion a {
    text-decoration: none;
}

.main__zonaNavegacion a:hover {
    text-decoration: underline;
    background-color: #e1f4ff;
}

.main__zonaContenido {
    display: grid;
    grid-column: 1/8;
}












.zonaMain{
    padding-top: 20px;

    margin-top: 10px;

    /*Establecemos el display: grid*/
    display: grid;
    /*Cuantas columnas queremos*/
    grid-template-columns: repeat(12, 1fr);

    /*Establecemos un tamañp minimo a la row*/
    grid-auto-rows: minmax(200px, auto);

    /*Aplicamos un poco de aire*/
    row-gap: 10px;
    column-gap: 10px;
}

.main__zonaImagen{
    grid-column: 2/6;

    display: flex;

    align-items: center;
    justify-content: center;
}
.main__zonaImagen img {
   width: auto;
   max-height: 300px;
   border-radius: 10px;


}

.main__zonaDescripcion{
    grid-column: 6/12;

    

    padding: 10px;

}

.zonaDescripcion__actores-nota{
    display: grid;
    grid-template-columns: 60% 40%;
}

.actores-nota__actores{
    grid-column: 1;
}
.actores-nota__nota{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#nota__puntuacion {
    font-family: 'ZombieHolocaust';
    font-size: 3em;
    color: #009900;
}

@media all and (max-width: 920px){
    .main__zonaImagen{
        grid-column: 2/12;
    
        display: flex;
    
        align-items: center;
        justify-content: center;
    }

    .main__zonaDescripcion{
        grid-column: 2/12;
        border-left: 0;
        border-top: 6px solid #330033;
        
    
        padding: 10px;
    
    }

    .header{
       flex-direction: column;
       padding-top: 10px;
       padding-bottom: 10px;
    }
    
    .header__zonaTitulo{
        width: 100%;
    }
    .header__zonaNavegacion{
        width: 100%;
        padding-bottom: 10px;
        
    }
    
}
