
table {
    border: 1px solid black;
    border-collapse: collapse;
    height: 200px;
    width: 200px;
}

.table__row--first-row {
    height: 20px;
    border-bottom: 2px solid black;
}

.row__td--right-bottom{
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
.row__td--bottom{
    border-bottom: 1px solid gray;
}
.row__td--right{
    border-right: 1px solid gray;

}

h3 {
    color: blue;
}
h4 {
    color: brown;
}


tr th:nth-child(1){
    width: 20px;
    background-color: red;
}